* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  color: #0d808b;
}

.no-js .animate_box {
  display: none;
}

.animate_box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  padding: 5rem;
  padding-top: 13rem;
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

nav.scrolled-down {
  transform: translateY(-110%);
}

nav.scrolled-up {
  transform: translateY(0);
}

nav a {
  height: 100%;
}

nav a img {
  margin-left: 4rem;
  height: 100%;
}

nav div {
  margin-right: 4rem;
}

nav div a {
  color: #0D808B;
  margin: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
}

.mobile_links{
  z-index: 10;
  position: fixed;
  width: 50%;
  right: -50%;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  display: none;
  transition: all 0.5s ease-in-out;
}

.mobile_links .hamburger_link{
  position: absolute;
  top: 3rem;
  right: 4rem;
  margin: 0;
}

.hamburger_link{
  display: none;
}

.mobile_links a{
  color: #0D808B;
  margin: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav_item.meet_the_team {
  color: #fdbb44;
}

h1 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
}

.faculty_card_holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 10rem;
}

.card {
  width: 238px;
  border-radius: 15px;
  border: 2px solid #0d808b;
  display: inline-block;
  overflow: hidden;
}

.card div {
  position: relative;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.card img.image {
  width: 238px;
}

.card h4 {
  font-size: 1.6rem;
}

.card p {
  font-size: 1.3rem;
}

.card .linkedin {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.card .linkedin img {
  transform: scale(1.2);
}

.card .linkedin:focus {
  outline: none;
}

/* Students Section starts */

.students_card_holder {
  margin: 5rem auto;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  width: 100%;
  row-gap: 8rem;
}

/* Media Queries */

@media screen and (min-width: 1900px) {
  body {
    padding: 10rem;
  }
}

@media screen and (max-width: 1150px) {
  .faculty_card_holder {
    padding: 5rem 0;
  }

  .students_card_holder {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (max-width: 900px) {
  .faculty_card_holder {
    flex-direction: column;
  }
  .faculty_card_holder .card {
    margin: 2rem auto;
  }

  .students_card_holder {
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
  }

  /* Mobile Screen Styling */
  .mobile_links{
    display: flex;
  }

  nav .links{
    display: none;
  }

  .hamburger_link{
    display: block;
    margin: 0 4rem;
    cursor: pointer;
  }

}

@media screen and (max-width: 600px) {
  .students_card_holder {
    grid-template-columns: auto;
  }
}

@media screen and (min-width: 1300px) {
  html {
    zoom: 110% !important;
  }
}

/* Media Queries */
@media screen and (min-width: 1900px) {
  html {
    zoom: 125% !important;
  }
}
